@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
  background-color: #1e1e1e;
  font-family: 'Kanit', sans-serif;
  color: #e7e7e7;
}

.App {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 850px;
  padding: 0 20px;
}

.title {
  font-size: 28px;
}

.todo-list{
  font-size: 22px;
  display: flex;
  flex-direction: column;
  cursor: grab;
}
.todo-list.grab {
  cursor: grab;
}

.block {
  padding: 5px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  width: 100%;
  border-bottom: .5px solid#404040;
  cursor: grab;
}

.text {
  width: 100%;
}

.icon {
  margin-right: 10px;
}

.delete {
  cursor: pointer;
}


#checked {
  text-decoration: line-through;
}

.add-task input {
  background: inherit;
  border: none;
  width: 100%;
  font-size: 22px;
  color: #fff;
}

.display {
  display: flex;
  justify-content: center;
  height: 50px
}

.answer {
  margin-left: 10px;
}

#finished {
  font-size: 25px;
  margin: 0 auto;
}

.edit {
  background: inherit;
  border: none;
  width: 80%;
  font-size: 22px;
  color: #fff;
}

.container__listRules {
  max-width: 1000px;
  padding-top:70px;
  padding-right: 100px;
}
.container__listRules ul li {
  font-size: 20px;
}

.container__switchLanguages {
  position: absolute;
  right: 100px;
  top: 0;
}


.lang-menu {
  width:102px;
  text-align: center;
  font-weight: bold;
  margin: 25px 0 0 20px;
  position: relative;
  color:white;
  padding-right: 20px;
  padding-left: 18px;
  border: 3px solid white;
}



.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 27px;
  right: 5px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li img{
  position: relative;
  bottom: 23px;
  left: 60px;
}


.lang-menu ul li {
  list-style: none;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.lang-menu {
  cursor: pointer;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}


.lang-menu:hover ul {
  display: block;
}

.english.active {
  display: block;
}

.english {
  display: none;
}

.russian.active {
  display: block;
}

.russian {
  display: none;
}

@media (max-width: 768px) {
  .container__listRules {
    padding-right: 0;
    min-width: auto;
  }
  .container__switchLanguages {
    right: 15px;
    top:0;
  }
  .App {
    max-width: 768px;
  }
}



