@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
  background-color: #1e1e1e;
  font-family: 'Kanit', sans-serif;
  color: #e7e7e7;
}

.App {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}

.container {
  max-width: 850px;
  min-width: 600px;
  padding: 0 20px;
}

.title {
  font-size: 28px;
}

.todo-list{
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.block {
  padding: 5px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info {
  display: flex;
  width: 100%;
  border-bottom: .5px solid#404040;
}

.text {
  width: 100%;
}

.icon {
  margin-right: 10px;
}

.delete {
  cursor: pointer;
}


#checked {
  text-decoration: line-through;
}

.add-task input {
  background: inherit;
  border: none;
  width: 100%;
  font-size: 22px;
  color: #fff;
}

.display {
  display: flex;
  justify-content: center;
  height: 50px
}

.answer {
  margin-left: 10px;
}

#finished {
  font-size: 25px;
  margin: 0 auto;
}




